$bgc: #f5f5f5;

$white-normal: #fff;
$white-normal-hover: #E6E6E6;
$white-normal-active: #CCCCCC;
$white-dark: #BFBFBF;

$black-normal: #000;

$indigo-normal: #262E49;
$indigo-dark-hover: #171C2C;


$blue-normal: #8894D8;
$blue-normal-hover: #7A85C2;
$blue-normal-active: #6D76AD;
$blue-dark: #525982;

$green-normal: #84CB98;
$green-normal-hover: #77B789;
$green-normal-active: #6AA27A;
$green-dark: #639872;

$brown-normal: #DFA175;
$brown-normal-hover: #C99169;
$brown-normal-active: #B2815E;
$brown-dark: #A77958;
