@mixin pad {
    @media(max-width: 960px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:720px){
        @content;
    }
}

@mixin lineHeight {
    line-height: 120%;

    @include mobile {
        line-height: 140%;
    }
}

@mixin fontWeight-blod {
    font-weight: 600;
    letter-spacing: 1px;
}

@mixin fontWeight-regular {
    font-weight: 400;
}

@mixin h6 {
    font-size: 20px;
    @include lineHeight;
    @include fontWeight-blod;

    @include mobile {
        font-size: 16px;
        font-weight: 700;
    }
}

@mixin Title-B {
    @include fontWeight-blod;
    font-size: 16px;
}

@mixin Title-B-12 {
    @include fontWeight-blod;
    font-size: 12px;
}

@mixin T-LG {
    font-size: 20px;
    @include lineHeight;
    @include mobile {
        font-size: 16px;
    }
}

@mixin select-T {
    font-size: 20px;
    line-height: 28px;
    @include fontWeight-regular;
}

@mixin T-RG {
    font-size: 16px;
    @include lineHeight;
    @include mobile {
        font-size: 14px;
    }
}

@mixin T-XS {
    font-size: 12px;
    @include lineHeight;
    @include fontWeight-regular;
}