@mixin pad {
    @media(max-width: 1100px) {
        @content;
    }
}
@mixin mobile {
    @media(max-width:768px){
        width: 100%;
        @content;
    }
}
@mixin pie {
    .pie {
        min-width: 120px;
        min-height: 120px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* animation: spin 3s linear infinite, bg 6s step-end infinite; */
        // margin-bottom: 20px;
        @include pad {
            margin-bottom: 1em;
        }
        @include mobile {
            min-width: 72px;
            min-height: 72px;
            width: 72px;
            height: 72px;
            margin-bottom: 0;
        }
        > .pie__center {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $white-normal;
            
            @include mobile {
                width: 40px;
                height: 40px;
            }
        }
    }
}